
<h3>{{title}}</h3>
  <tr *ngFor='let product of products'>
   <td><font color = "black" size="6">{{product.productId}}</font></td>
   <td><font color = "black" size="6">{{product.categoryId}}</font></td>
   <td><font color = "black" size="6">{{product.productName}}</font></td>
   <td><font color = "black" size="6">{{product.unitPrice}}</font></td>
   <td><font color = "black" size="6">{{product.quantityPerUnit}}</font></td>
   <td><font color = "black" size="6">{{product.unitsInStock}}</font></td>
  </tr>
