<h2>
  Seçilen Market:
  <div *ngIf="selectedMarket">{{ selectedMarket.name }}</div>
</h2>
<h2>
  Kullanıcı pozisyonu(x,y):
  <div *ngIf="userPosition">
    {{ userPosition.coords.latitude }} , {{ userPosition.coords.longitude }}
  </div>
</h2>
<h2>En Yakin Market: {{ nearestMarket.name }}</h2>

<ul class="locations">
  <li
    *ngFor="let market of Marketler"
    (click)="onSelect(market)"
    [class.selected]="market === selectedMarket"
  >
    <span class="badge">{{ market.id }}</span> {{ market.name }}
  </li>
</ul>

<div *ngIf="selectedMarket">
  <h2>{{ selectedMarket.name | uppercase }} Marketi Detayları</h2>
  <div><span>Market: </span>{{ selectedMarket.name }}</div>
  <div>
    <span>Lokasyon(x,y,z): </span>{{ selectedMarket.x }},
    {{ selectedMarket.y }}, {{ selectedMarket.z }}
  </div>

  <label
    >İsim değiştir:
    <input [(ngModel)]="selectedMarket.name" placeholder="name" />
  </label>
  <li *ngFor="let product of migrosArray">
    <img src="{{ product.image }}" height="120" width="120" />
    Name:{{ product.name }} Price: {{ product.price }} SKU: {{ product.sku }}
  </li>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" color="primary">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="addToCart(element)">
          Add to Cart
        </button>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Product.</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="market">
      <th mat-header-cell *matHeaderCellDef>Market</th>
      <td mat-cell *matCellDef="let element">{{ element.market }}</td>
    </ng-container>

    <!-- Quantity Column -->

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option [value]="1">
              1
            </mat-option>
            <mat-option [value]="2">
              2
            </mat-option>
            <mat-option [value]="3">
              3
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let element">
        <img src="{{ element.image }}" height="120" width="120" />
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selection.toggle(row)"
    ></tr>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </table>
</div>

<h2>My Cart:</h2>
<mat-divider></mat-divider>

<mat-nav-list>
  <mat-list-item *ngFor="let product of myCart">
    <mat-divider></mat-divider>
    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="removeFromCart(product)"
      >
        Remove From Cart</button
      ><span style="margin-left: 10em;"> Product: {{ product.name }} </span
      ><span style="margin-left: 10em;"> Market: {{ product.market }} </span>
    </div>
  </mat-list-item>
</mat-nav-list>
<mat-divider></mat-divider>
<h2>
  Total Price: {{ myCartTotal }} , Possible Cheapest Price:
  {{ possibleCheapestPrice }}
</h2>
<h2 *ngIf="cheapestMarket">Cheapest Market: {{ cheapestMarket.name }}</h2>

<agm-map  [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  <agm-circle [latitude]="lat" [longitude]="lng" 
      [radius]="3000"
      [fillColor]="'blue'"
      [fillOpacity]="0.15"
      [circleDraggable]="false"
      [editable]="false">
  </agm-circle>
</agm-map>